<p id="notice"><%= notice %></p>
<h2>Name:</h2>
<%= @user.name %>
<div class="flex full-view">
  <h2>Hosting</h2>
  <% @events.each do |event| %>
    <div>
      <h3>Title:</h3>
      <%= event.title %>

      <div class="event-info">
        <div>
          <h3>Date:</h3>
          <%= event.date %>
        </div>
        <div>
          <h3>Location:</h3>
          <%= event.location %>
        </div>
      </div>
    </div>
  <% end %>
  <h2>Attending</h2>
    <% @attended_events.each do | event | %>
      <%= event.title %>
    <br>
    <% end %>
  <div>
    <%= link_to 'Back', events_path %>
  </div>
</div>

<div class="flex">
  <h2>Upcoming Events</h2>
  <% @attended_events.where('date > ?', Time.now).each do | event | %>
    <%= event.title %>
    <br>
  <% end %>
</div>
