<div class="flex show-user">
  <p id="notice"><%= notice %></p>
  <div class="flex-row">
    <h2 class="title name-title">Name:</h2>
    <span class="name"><%= @user.name %></span>
  </div>
  <div class="flex-row">
    <div class="flex-start column">
      <h2 class="title top">Hosting</h2>
      <% user_created_events.each do |event| %>
        <div>
          <h3>Title:</h3>
          <%= event.title %>

          <div class="event-info">
            <div>
              <h3>Date:</h3>
              <%= event.date %>
            </div>
            <div>
              <h3>Location:</h3>
              <%= event.location %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="flex-start column">
      <h2 class="title top">Previous Events</h2>
      <% @user.attended_events.past.each do | event | %>
        <%= event.title %>

        <div class="event-info">
          <div>
            <h3>Date:</h3>
            <%= event.date %>
          </div>
          <div>
            <h3>Location:</h3>
            <%= event.location %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="flex-start column">
      <h2 class="title top">Upcoming Events</h2>
      <% @user.attended_events.upcoming.each do | event | %>
        <%= event.title %>

        <div class="event-info">
          <div>
            <h3>Date:</h3>
            <%= event.date %>
          </div>
          <div>
            <h3>Location:</h3>
            <%= event.location %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="title-links">
    <%= link_to 'Back', events_path %>
  </div>
</div>
