<div class="flex">
    <h2>Previous Events</h2>
    <% @events.past.each do | event | %>
      <h2><%= event.title %></h2>
      <p><%= event.description %></p>
      <div>
        <p>Date: <%= event.date %></p>
        <p>Location: <%= event.location %></p>
      </div>
    <% end %>
  </div>
  <div class="flex">
    <h2>Upcoming Events</h2>
    <% @events.upcoming.each do | event | %>
      <h2><%= event.title %></h2>
      <p><%= event.description %></p>
      <div>
        <p>Date: <%= event.date %></p>
        <p>Location: <%= event.location %></p>
      </div>
    <% end %>
  </div>
  <div>
