<p id="notice"><%= notice %></p>
<div class="flex full-view">
  <div>
    <h2>Event:</h2>
    <%= @event.title %>
  </div>
  <div class="event-info">
    <div>
      <h3>Description:</h3>
      <%= @event.description %>
    </div>
    <div>
      <h3>Date:</h3>
      <%= @event.date %>
    </div>
    <div>
      <h3>Location:</h3>
      <%= @event.location %>
    </div>
    <div>
      <h3>Attendees:</h3>
      <% @attendees.each do | attendee | %>
        <%= attendee.name %>
        <br>
      <% end %>
    </div>
  </div>
  <!-- <div>
    <%= link_to 'Back', users_path %>
  </div> -->
</div>
