<p id="notice"><%= notice %></p>
<div class="flex full-view">
  <div>
    <h2>Event:</h2>
    <%= @event.title %>
  </div>
  <div class="event-info">
    <div>
      <h3>Description:</h3>
      <%= @event.description %>
    </div>
    <div>
      <h3>Date:</h3>
      <%= @event.date %>
    </div>
    <div>
      <h3>Location:</h3>
      <%= @event.location %>
    </div>
    <div>
      <h3>Attendees:</h3>
      <% @attendees.each do | attendee | %>
      <%= attendee.name %>
      <br>
      <% end %>
    </div>
  </div>
    <% if @event.date > DateTime.current.localtime && @_current_user && @attendees.exists?(@_current_user.id) != true && @_current_user.id != @event.creator_id %>
      <span><%= link_to('Register', attendances_path(attendee_id: @_current_user.id, attended_event_id: @event.id), method: :post) %></span>
    <% end %>
  <div>
    <%= link_to 'Back', root_path %>
  </div>
</div>
