<!DOCTYPE html>
<html>

<head>
  <title>Private Events</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="navbar">
    <span class="logo"><%= link_to 'Events Nation', root_path %></span>

    <div>
      <span class="user-links"><%= link_to('Log In', new_session_path) unless @_current_user %></span>
      <span class="user-links"><%= link_to(@_current_user.name, user_path(@_current_user.id)) if @_current_user %></span>
      <span class="user-links"><%= link_to('Sign Up', new_user_path) unless @_current_user %></span>
    </div>
  </div>
  <%= yield %>
</body>

</html>
